#head {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}
#bar {
    text-align: center;
    width: 750px;
    height: 25px;
    background-color: #DAD9D9;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -47%;
    bottom: -20%;
    position:relative;
}
#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -44%;
    bottom: 40%;
    position:relative;
    display: block;
}
#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -41%;
    bottom: 99%;
    position:relative;
    display: block;
}
#screen {
    background-color: #33485E;
    width: 748px;
    height: 450px;
    border-radius: 2%;
    margin: 0 auto;
    padding: 1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(74,99,231,.2);
    -moz-box-shadow: 0px 6px 15px 0px rgba(74,99,231,.2);
    box-shadow: 0px 6px 15px 0px rgba(74,99,231,.4);
}
.font {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
    padding-left: 5px;
}

.box-terminal {
    display: block;
    position: relative;
    width: 720px;

}

.terminalf {
    color: #6fff65;
}
.terminalS {
    color: #ff7bb8;
}
.terminalT {
    color: #f6f670;
}

